{% extends "::base.html.twig" %}

{% block title %}MainBundle:About:hello{% endblock %}

{% block body %}
<h1>Welcome to the About:hello page</h1>

<h3 style="color:red">{{ name }}</h3>
{% endblock %}
